ul {
	list-style: disc;
	padding-left: 1.2rem;
	margin-bottom: px-to-rem(22px);
}

ol {
	list-style: decimal;
	padding-left: 1.2rem;
	margin-bottom: px-to-rem(22px);
}

li {
	font-size: px-to-rem(12px);
}

dl {
	margin-bottom: px-to-rem(22px);
}

dt {
	font-size: px-to-rem(12px);
	font-weight: 600;
}

dd {
	@extend p;
}
