body {
	line-height: 1.6;
	color: $primaryText-color;
	background-color: $body-bkgdColor;
}

h1 {
	font-size: px-to-rem(22px);
	font-weight: 600;
}
h2 {
	font-size: px-to-rem(12px);
	font-weight: 400;
	margin-bottom: px-to-rem(18px);
}
h3 {
	font-size: px-to-rem(12px);
	font-weight: 600;
	margin-bottom: px-to-rem(2px);
}
h4 {
	font-size: px-to-rem(12px);
	font-weight: 400;
	margin-bottom: px-to-rem(2px);
}
h5 {
	font-size: px-to-rem(11px);
	font-weight: 600;
}
h6 {
	font-size: px-to-rem(11px);
	font-weight: 400;
}
p {
	font-size: px-to-rem(12px);
	margin-bottom: px-to-rem(22px);
}

sup, sub {
	font-size: 80%;
	line-height: 0;
	position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

small {
	font-size: px-to-rem(11px);
}

strong, b {
	font-weight: 600;
}
em, i {
	font-style: italic;
}
u {
	text-decoration: underline;
}

time {
	font-size: px-to-rem(12px);
}

blockquote {
	font-size: px-to-rem(12px);

	cite {
		display: block;
	}
}
cite {
	font-style: italic;
}

ins {
	background-color: transparent;
	color: $primaryText-color;
}
