#header {
	width: 100%;
	background-color: $header-bkgdColor;
	box-shadow: 0 2px 0 $header-boxShadow;

	> div {
		padding: px-to-rem(26px) $medium-gutter 0 $medium-gutter;
	}

	.logo {
		display: block;
		// text-indent: -999999rem;
		width: 100%;
		font-size: 1rem;
		max-width: px-to-rem(200px);
		margin-bottom: px-to-rem(13px);

		span {
			@include hide();
		}
	}

	@media ($breakpoint-lg) {
		> div {
			display: flex;
			align-items: center;
			max-width: $site-max-width;
			padding: px-to-rem(5px) $medium-gutter;
			margin: 0 auto;
		}

		.logo {
			max-width: px-to-rem(123px);
			margin-right: px-to-rem(59px);
			margin-bottom: 0;
		}
	}
}

#nav {
	ol {
		list-style: none;
		padding-left: 0;
		margin-bottom: px-to-rem(10px);
	}

	a {
		display: block;
		color: $headerLink-color;
		font-weight: 600;
		padding: px-to-rem(10px) 0;

		&.active {
			color: $headerLink-color-active;
		}
	}

	@media ($breakpoint-s) {
		ol {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;
		}

		li {
			padding-right: $medium-gutter;
		}
	}
}
