//Max-widths
$site-max-width: px-to-rem(904px);
$hp-max-width: px-to-rem(528px);
$form-el-max-width: px-to-rem(546px);

//Breakpoints
$breakpoint-xxs: 'min-width: 18.75em';//~300px
$breakpoint-xs: 'min-width: 21.25em';//~340px
$breakpoint-s: 'min-width: 23.75em';//~380px
$breakpoint-m: 'min-width: 28.75em';//~460px
$breakpoint-lg: 'min-width: 43em';//~688px
$breakpoint-xl: 'min-width: 56.5em';//~904px

//Gutters
$small-gutter: px-to-rem(12px);
$medium-gutter: px-to-rem(18px);
$large-gutter: px-to-rem(20px);
