//---------------------------------------------------------------------------------------------
// Descriptive
// @purpose define the colors
// @naming_convention generalColor-tintOrShadeNum
//---------------------------------------------------------------------------------------------
//White
$white: #fff;

//Greys, Blues, & Purples
$gallery: #ededed;
$mischka: #DBDEE6;
$lynch: #717ea3;
$raven: #70788c;
$cold-purple: #a4b3de;
$havelock-blue: #5779d9;
$mirage: #181f32;

//Utility Colors
// $red: red; //for errors
