//---------------------------------------------------------------------------------------------
// Functional
// @purpose where colors will be used
// @naming_convention contentType-purpose-specify
//---------------------------------------------------------------------------------------------

//Global
$body-bkgdColor: $lightest-gray;
$primaryText-color: $dark-gray;
$content-bkgdColor: $white;
$outline-color: $brand-primary;
$outline-color-error: $red;

//Links
$link-color: $brand-accent;
$link-color-hover: lighten($brand-accent, 10%);
$link-color-disabled: $medium-gray;

//Buttons
$btn-color: $white;
$btn-bkgdColor: $dark-gray;
$btn-bkgdColor-hover: lighten($dark-gray, 20%);
$btn-bkgdColor-disabled: $light-gray;
$btn-color-disabled: $dark-gray;
$secondaryBtn-color: $dark-gray;
$secondaryBtn-color-hover: $white;

//Forms
$focus-borderColor: $brand-secondary;
$input-color: $dark-gray;
$input-bkgdColor: $white;
$input-borderColor: $lighter-gray;
$select-borderColor: $dark-gray;
$select-color-disabled: $mediumDark-gray;
$select-bkgdColor-disabled: $lighter-gray;
$label-color: $mediumDark-gray;
$label-bkgdColor: $white;
$placeholder-color: $mediumDark-gray;
$input-bkgdColor-checked: $brand-primary;

//Tables
$th-color: $white;
$th-bkgdColor: $dark-gray;
$tr-bkgdColor: $lighter-gray;
$table-borderColor: $light-gray;

//Messaging

//Errors

//Header

//Footer
